@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary-foreground: 0 0% 98%;

		--secondary-foreground: 240 5.9% 10%;

		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 10% 3.9%;

		--radius: 0.75rem;

		--text-t: 246 76% 5%;
		--background-t: 240 38% 97%;
		--primary-t: 26 27% 42%;
		--secondary-t: 77 42% 72%;
		--accent-t: 213 100% 69%;

		--text: hsl(246, 76%, 5%);
		--background: hsl(240, 38%, 97%);
		--primary: hsl(26, 27%, 42%);
		--secondary: hsl(77, 42%, 72%);
		--accent: hsl(213, 100%, 69%);
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	h1 {
		@apply mt-0 text-3xl font-bold;
	}
	h2 {
		@apply mt-0 text-2xl font-semibold;
	}
	h3 {
		@apply mt-0 text-xl font-semibold;
	}
	h4 {
		@apply mt-0 text-lg font-medium;
	}
	h5 {
		@apply mt-0 text-base font-medium;
	}
	h6 {
		@apply mt-0 text-sm font-medium;
	}
	p {
		@apply mt-0 text-base leading-relaxed;
	}
}
